/* All code manually created by TheNormalestPeep on GitHub.
You may not alter the code in any way unless it is purely for private use. Redistribution is not allowed.
Please contact me in the event you find an error or glitch or add it to the issues tab.
To contact me, email me at iamaducksoshutup@gmail.com or on Discord as best catto#1337 (after sending a friend request and informing me).
Unless highly requested, there are absolutely NO plans to add support for chrome extensions (e.g. Evernote).
There will be no plans, by any means, for any platform except Google Chrome for Windows 10, as i do not have any knowledge of CSS for other platforms. If you still wish to use it, proceed at your own risk.
However, there are future plans for other google websites, namely Google Translate and GMail. */
/* To report widgets that I missed, such as Features Snippets or Dictionary, make sure to give a link so i can confirm it. */
/* Known Issues:
Google's search bar in the built-in Dictionary will create a white box when at any zoom under 100%. 

The graph for use over time in Dictionary isn't colored. This is an image, and recoloring it would involve me recoloring every single one of them. 

When loading any google page except for Search, the input is temporarily white*/
/* Google Search */
.JolIg {
    color: #d6d6d6;
}
.v3jTId {
    color: #fff !important;
}
.Cy9gW {
    color: #d0d0d0;
}
.XxrEYe {
    color: #d0d0d0;
}
.kp-blk {
    box-shadow: none;
    background: #00000000;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
}
body {
    background: #131313;
    color: #d6d6d6;
}
cite, cite a:link, cite a:visited {
    color: #ffffff;
    font-style: normal;
}
.dyjrff {
    color: #7f848c;
}
.JNkvid .HnYYW {
    color: #d0d0d0;
}
.PyJv1b {
    color: #d0d0d0;
}
a {
    color: #15a1d6;
}
.k8XOCe {
    background-color: #2d2d2d;
}
.s75CSd {
    color: #d6d6d6;
}
.V2Zq0e {
    color: #d6d6d6;
}
#Wprf1b {
    color: #b0bec7;
}
.unknown_loc {
    background: #f9fcff;
}
.f6F9Be {
    background: #131313;
    border-top: 1px solid #131313;
}
.eJ7tvc {
    color: rgb(199 199 199);
}
.sfbgg {
    background: #131313;
}
.yg51vc {
    background: #131313;
}
#hdtb {
    border-bottom: 1px solid #131313;
}
.sfbg {
    background: #131313;
}
.hdtb-mitem .GOE98c, .hdtb-mitem a, .hdtb-mitem.hdtb-msel, .t2vtad {
    color: #d0d0d0;
}
.RNNXgb:hover, .sbfc .RNNXgb {
    background-color: #0c0c0c;
}
.gLFyf {
    color: rgb(216 216 216);
}
.lBbtTb {
    color: #ffffff;
}
.RNNXgb {
    background: #0c0c0c;
    border: 1px solid #ffffff;
}
.RNNXgb:hover {
    background: #0c0c0c;
    border: 1px solid #ffffff;
}
.y8Jpof:hover {
    background-color: #131313;
}
.IsZvec {
    color: #a7a7a7;
}
.aCOpRe em, .st em {
    color: #c3c3c3;
}
body.vasq .WE0UJf {
    background: #131313;
    margin-left: 0px;
}
.u2sJ0e .lA0GG {
    color: #d0d0d0;
    font-size: 14px;
    left: 64px;
}
#result-stats {
    color: #c8c8c8;
    padding-left: 180px;
}
.minidiv .RNNXgb {
    background: #0c0c0c;
}
.minidiv .sfbg {
    background: #131313;
}
.aajZCb {
    background: #0c0c0c;
}
.sbhl {
    background: #242424
}
.sbl1 {
    color: #ffffff;
}
#rhs .nGydZ .garHBe {
    color: rgb(196, 196, 196);
}
.k4DMHe .xXEKkb {
    color: #ccc !important;
}
.InNVqc {
    color: #d0d0d0;
}

/* Ads */
.qzEoUe {
    color: #757575;
}
.VqFMTc {
    background-color: #131313;
    color: #d0d0d0;
}
.yDYNvb.lyLwlc {
    color: #919292;
}
.pla-hovercard-container {
    background: #131313;
}
.qptdjc {
    color: #d0d0d0;
}
.zPEcBd {
    color: #d0d0d0;
}
.cu-container .mnr-c {
    background-color: #131313;
    border: 1px solid #fff;
}
.e10twf {
    color: #d0d0d0;
}

/* Maps Minibox */
.F7IIOc {
    color: #d0d0d0;
}
.FZaw6b {
    border-color: #d0d0d0 transparent;
}
.dbg0pd {
    color: #d0d0d0;
}
.yyjhs {
    background: #131313;
}
.vk_c {
    background-color: #131313;
}
.rllt__details > div {
    color: #d0d0d0;
}

/* Related Searches */
.f3LoEf {
    color: #d0d0d0;
}
.s2TyX {
    background: #131313;
}

/* Google Translate (Widget) */
.language_list_item {
    color: #d0d0d0;
}
.tw-lp-search {
    background: #131313;
    border: 1px solid #fff;
    color: #d0d0d0;
}
.GL3ftd {
    border-bottom: 1px solid #ffffff;
    background: #131313;
}
.tw-lliw:hover, .tw-lliw:focus {
    background: #131313;
}
.language_list_languages.tw-ll-top::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255 255 255 / 0%));
}

/* Twitter Previews */
.Ywxp6b {
    color: #d0d0d0;
}
.f {
    color: #d0d0d0;
    line-height: 1.58;
}
.cv2VAd {
    border: 1px solid #fff;
    border-radius: 8px;
    background: #131313;
    box-shadow: none;
}
.kLhEKe {
    background-color: #131313;
}

/* Info Panels */
.kno-ecr-pt {
    color: #d0d0d0;
}
.wwUB2c, .wwUB2c .chJdMe {
    color: #d0d0d0;
}
.hb8SAc {
    color: #d0d0d0;
}
.w8qArf .fl {
    color: #eaeaea !important;
}
a.fl:link, .fl a, .gl a:link {
    color: #15a1d6;
}
.webanswers-webanswers_table__webanswers-table th {
    color: #eaeaea;
}
.Z0LcW {
    color: #eaeaea;
}
.Ss2Faf a {
    color: #d0d0d0;
}
.mDj5wd {
    color: #d0d0d0;
}
.wwfboe {
    border-top: 1px solid #ffffff;
}
.TQc1id .I6TXqe {
    border: 1px solid #fff;
}
.I6TXqe {
    background: #131313;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 0 0 16px 0;
}

/* News Minibox */
.wqg8ad {
    color: #a8a8a8 !important;
    font-size: 14px;
    line-height: 1.58;
}

/* Category */
.ee6GJd .DaJEPe {
    font-size: 14px;
    height: auto;
    max-width: 200px;
    line-height: 18px;
    width: auto;
    color: #d0d0d0;
}
.vI9alf {
    border-top: solid #131313 1px;
    background: #131313;
}
.qtwiP:hover {
    background: #131313;
}

/* Calculator */
.zRQJhd {
    background-color: #131313;
}

/* Videos minibox */
.wUrVib {
    color: #d0d0d0;
    white-space: initial;
}
.EZRelc {
    color: #d0d0d0;
    flex: none;
    margin-right: 8px;
}
.MXl0lf:hover {
    background: #131313;
}
.WpKAof {
    color: #15a1d6;
}
.GlPvmc {
    color: #d0d0d0;
}
.hDeAhf {
    color: #d0d0d0;
}
.rjmdhd {
    font-size: 14px;
    color: #a2a2a2;
}
.LMMXP {
    color: #ffffff;
}
.VibNM {
    background: #131313;
}
.mIKy0c.dGWpb {
    background: #131313;
    border: 1px solid #fff;
}
#rcnt a.WpKAof:hover {
    background: #131313;
}

/* Images minibox */
.CNf3nf {
    background-color: #131313 !important;
    border: 1px solid #ffffff !important;
}
.Lu0opc.eSq3C:hover g-fab {
    background-color: #131313 !important;
    color: #ffffff !important;
}
.KPV9xf {
    background: #131313 !important;
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
}
.KPV9xf:hover {
    background: #131313;
    border: 1px solid #ffffff;
    color: #ffffff;
}
title-with-lhs-icon .ekf0x {
    color: #ffffff;
}
.z1asCe svg {
    color: #d0d0d0 !important;
}
.EUjJDc {
    color: #d0d0d0;
}

/* Google Dictionary */
.NjNcGc {
    color: #fff;
    font-size: 22px;
    line-height: 1.182;
}
.dw-sb-cont .dw-sbi {
    border: 1px solid #ffffff;
    background: #131313;
}
.MXl0lf {
    background: #131313;
    border: 1px solid #fff;
}
.wMcVAc {
    font-size: 16px;
    line-height: 24px;
    color: #d0d0d0;
}
.cfBJGe {
    color: #d0d0d0;
}

/* Google extra widgets */
.uZz69d {
    color: #d0d0d0;
}
.ox3FEf {
    color: #d0d0d0;
}
.apM1Wc {
    color: #d0d0d0;
}
.M4n04 .SVWlSe {
    color: #d0d0d0;
}
.FiHGpc {
    border-top: 1px solid #fff;
    color: #d0d0d0;
}
.zj62sc {
    color: #d0d0d0;
}
.sW6dbe {
    color: #d0d0d0;
}
.EikfZ {
    color: #f4f4f4;
    background: #686868;
}
.k9GNzc .dEPbOe {
    color: #d0d0d0;
}
.QunXQ {
    background-color: #131313;
}
.FSmObf {
    border-color: #686868 transparent;
}
.het5x .m6cn6, .ZfSAad .m6cn6 {
    background-color: #131313;
}
.het5x .m6cn6 .b3CYFf, .ZfSAad .m6cn6 .b3CYFf {
    color: #d0d0d0;
}
.S7TGef, .BpGBNe {
    color: #d0d0d0;
}
.hfQmnb {
    cursor: pointer;
    background-color: #131313;
}
.e7RZX {
    background-color: #131313;
}
.e7RZX:hover {
    background-color: #131313;
}
.ibFyOb {
    color: #d0d0d0;
}
.Yhekq {
    background-color: #131313;
    border-bottom: 1px solid #fff;
}
.LUnGP {
    color: #d0d0d0;
}
.rzb2cc {
    color: #d0d0d0;
}

/* Google News */
.sbibod {
    background: #0c0c0c !important;
    border: 1px solid #ffffff;
}
.gsfi, .lst {
    color: #d0d0d0;
}
#searchform .sbhcn {
    background: #0c0c0c !important;
}
input {
    color: #d0d0d0;
    background-color: #0c0c0c;
    border-color: #fff;
}
.lst-c .sbib_a {
    background: #0c0c0c;
}
.lst-c .sbib_a:hover {
    background: #0c0c0c;
}
.lst-c .sbib_a:focus-within {
    background: #0c0c0c;
}
b {
    color: #d0d0d0;
}
li.sbsb_c:first-child .sbse {
    border-top: 1px solid #0c0c0c;
}
li.sbsb_c {
    background: #0c0c0c;
    border: 1px solid #fff;
}
.sbsb_a {
    background-color: #0c0c0c;
    padding-bottom: inherit;
}
.JheGif {
    color: #d0d0d0;
}
.WF4CUc, .o5GQac img {
    color: #d0d0d0;
}
.minidiv .sbibod {
    background: #0c0c0c;
}
.minidiv .lst-c .sbib_a {
    background: #0c0c0c;
}
.YyVfkd {
    color: #d0d0d0;
    font-weight: normal;
}

/* Google Images */
.jZWadf {
    background: #131313;
}

.cEPPT {
    border-bottom: solid 1px #131313;
}

.w6PoOe {
    color: #d0d0d0;
}

.w6PoOe:hover {
    color: #d0d0d0;
}

.SPmIAf {
    color: #d0d0d0;
}

.SPmIAf:hover {
    color: #d0d0d0;
}

.SPmIAf:hover, .ZTM7Oe {
    color: #d0d0d0;
}

.WGvvNb {
    color: #d0d0d0;
}

.PNyWAd {
    color: #d0d0d0;
    text-align: center;
    display: inline-block;
}

.NZmxZe {
    color: #d0d0d0;
}

.s8GCU {
    background: #131313;
}

.Lj9fsd {
    background: #131313;
}

.zthhpf {
    background: #0c0c0c;
    border: 1px solid #fff
}

.JSAgYe {
    background-color: #0c0c0c;
    color: #d0d0d0;
}

.r9PaP {
    color: #d0d0d0;
}

.H1KrKd {
    fill: #d0d0d0;
}

.qcTKEe {
    background-color: #131313;
}

.ooPrBf {
    background: #131313;
}

.XD1Bsc, .XD1Bsc:hover {
    background: linear-gradient(#5e5e5e, #393939) #5e5e5e;
    border: 1px solid #6f6d6d;
}

.cF4V5c {
    background-color: #131313;
}

.igM9Le {
    color: #d0d0d0;
}

.Ix6LGe {
    background: #131313;
}

.wBIdUd {
    color: #d0d0d0;
}

.jq2rAe {
    background: #131313;
    border: 1px solid #fff;
}

.lV0vqc {
    background: #0c0c0c;
}

.Y9dC1 {
    color: #32a3b3;
}

.lV0vqc:hover {
    background: #0c0c0c;
}

.Vwmzxb {
    background: #0c0c0c;
}

.hqwb1b {
    background: #131313;
}

.WxYNlf {
    color: #d0d0d0
}

.TADXpd {
    color: #29b0e1;
}

.KtvGCc {
    color: #d0d0d0;
}
